<p id="notice"><%= notice %></p>

<p>
  <strong>商品名:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>価格:</strong>
  <%= @item.price %>
</p>

<%= link_to '編集', edit_item_path(@item) %> |
<%= link_to '戻る', items_path %>
