<%= form_for(sale) do |f| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :日付 %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :商品名 %>
    <%= f.collection_select(:item_id, Item.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :個数 %>
    <%= f.number_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
