<p id="notice"><%= notice %></p>

<h1>売上一覧</h1>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>商品名</th>
      <th>単価</th>
      <th>個数</th>
      <th>消費税</th>
      <th>合計</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.date %></td>
        <td><%= sale.item.name %></td>
        <td><%= sale.item.price %></td>
        <td><%= sale.price %></td>
        <td><%= (sale.price * sale.item.price * 0.08).to_i %></td>
        <td><%= (sale.price * sale.item.price * 1.08).to_i %></td>
        <td><%= link_to '詳細', sale %></td>
        <td><%= link_to '編集', edit_sale_path(sale) %></td>
        <td><%= link_to '削除', sale, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to '新規登録', new_sale_path %> |
<%= link_to '商品一覧', controller: :items, action: :index %> |
<%= link_to '売上集計', controller: :sales, action: :list %>
