<p id="notice"><%= notice %></p>

<h1>売上集計</h1>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>商品名</th>
      <th>単価</th>
      <th>個数</th>
      <th>消費税</th>
      <th>合計</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.date %></td>
        <td><%= sale.item.name %></td>
        <td><%= sale.item.price %></td>
        <td><%= sale.price %></td>
        <td><%= (sale.price * sale.item.price * 0.08).to_i %></td>
        <td><%= (sale.price * sale.item.price * 1.08).to_i %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  小計：<%= @total_sum %>円<br>
  外税：<%= @total_tax %>円<br>
  合計：<%= @total_price %>円<br>
<br>
<%= link_to '売上一覧', controller: :sales, action: :index %>
