<p id="notice"><%= notice %></p>

<p>
  <strong>日付:</strong>
  <%= @sale.date %>
</p>

<p>
  <strong>商品名:</strong>
  <%= @sale.item.name %>
</p>

<p>
  <strong>個数:</strong>
  <%= @sale.price %>
</p>

<%= link_to '編集', edit_sale_path(@sale) %> |
<%= link_to '戻る', sales_path %>
